---
import ProjectsView from './ProjectsView.astro';
import { sanityClient } from 'sanity:client';

type Project = {
  _id: string;
  name: string;
  category: string;
  description: string;
  videoUrl: string;
};

export async function getAllProject(): Promise<Project[]> {
  const query = `*[_type == "projects"] {
  _id,
  name,
  category,
  description,
  url,
  "videoUrl": video.asset->url
}`;
  const projects = await sanityClient.fetch(query);
  return projects;
}

const projects: Project[] = await getAllProject();
---

<section class="w-full dark-trailer">
  {
    projects.map((project: Project, index: number) => (
      <ProjectsView project={project} index={index} />
    ))
  }
</section>
