---
import ProjectsView from './ProjectsView.astro';
import {sanityClient} from "sanity:client";

type Project = {
  _id: string;
  name: string;
  category: string;
  description: string;
  videoUrl: string;
}

export async function getAllProject(): Promise<Project[]> {
  const query = `*[_type == "project"] {
  _id,
  name,
  category,
  description,
  "videoUrl": video.asset->url
}`;
  const projects = await sanityClient.fetch(query);
  return projects;
}

const projects:Project[] = await getAllProject();
---

<section>
  {
    projects.map((project:Project) => (
      <ProjectsView project={project} />
    ))
  }
</section>
