<div class="flex flex-col relative flex-1">
  <div class="absolute right-0 mt-[65px]">
    <div class="">
      <h2 class="text-[36px] font-bold text-textLight">Software Engineer</h2>
      <p class="text-lg text-right text-secondary">
        <span id="experience">4</span>+ Years of development experience
      </p>
    </div>
    <hr class="my-[16px] w-[60px] border-0 h-[1px] ml-auto bg-darkBackground" />
    <!-- contact info -->
    <div class="text-secondary font-bold text-right text-lg">
      <div>msami398@gmail.com</div>
      <div>+923441262697</div>
    </div>
  </div>
</div>

<script>
  import { getTotalExperience } from "../../utils/index.ts";

  const experience = document.getElementById("experience");
  if (experience) {
    const totalExperience = getTotalExperience();
    experience.innerText = totalExperience.toString();
  }
</script>
