---
import HeaderSection from './HeaderSection.astro';
import MainTitle from './MainTitle.astro';
---

<section
  class="hero-section bg-hero-image bg-cover bg-no-repeat bg-top bg-background"
>
  <div class="bg-overlay-2">
    <div class="flex flex-col h-screen px-pageXMobile md:px-pageX bg-overlay-1">
      <HeaderSection />
      <MainTitle />
    </div>
  </div>
</section>

<style>
  .bg-overlay-1 {
    background: linear-gradient(
      180deg,
      #0d0d0d 0%,
      rgba(13, 13, 13, 0.88) 8.03%,
      rgba(13, 13, 13, 0) 100%
    );
  }
  .bg-overlay-2 {
    background: linear-gradient(
      360deg,
      #0d0d0d 0%,
      rgba(13, 13, 13, 0.88) 13.06%,
      rgba(13, 13, 13, 0) 100%
    );
  }
</style>
