---
import SocialIcon from './SocialIcon.astro';
---

<main
  class="flex flex-col md:flex-row justify-center
  md:justify-between text-textLight h-[calc(100vh-10rem)]
  md:mb-pageBottomTab lg:mb-pageBottom gap-10 md:gap-0"
>
  <!-- Main heading -->
  <h1
    class="flex flex-col md:items-start self-center md:self-end
    text-center justify-center md:justify-end uppercase
    text-[4rem] md:text-[6.75rem] lg:text-[8.75rem] font-black
    leading-[50px] md:leading-[90px] lg:leading-[110px]"
  >
    <div class="relative">Making</div>
    <div class="bg-primary -rotate-2 p-[8px] md:p-4">
      <div
        class="text-secondaryOpacity text-[4rem] md:text-[5.3rem] lg:text-[8rem] relative"
      >
        Epic Shit
      </div>
    </div><div>Since</div><div>2019</div>
  </h1>
  <!-- social links -->
  <div class="self-center md:self-end">
    <SocialIcon />
  </div>
</main>
