---
import SocialIcon from "./SocialIcon.astro";
---

<main class="flex justify-between text-textLight h-[calc(100vh-10rem)] mb-14">
  <!-- Main heading -->
  <h1
    class="flex flex-col justify-end uppercase text-[8.75rem] font-black leading-none"
  >
    Making <div class="text-primary">Epic Shit</div><div>Since</div><div>
      2019
    </div>
  </h1>
  <!-- social links -->
  <div class="self-end">
    <SocialIcon />
  </div>
</main>
