---
import { Icon } from 'astro-icon';
---

<section
  class="header-social-icons interactable interactable-link px-3 py-2 border border-[#242424] rounded-full flex items-center gap-3"
>
  <!-- Linkedin -->
  <div
    class="w-[35px] h-[35px] md:w-[45px] md:h-[45px] p-[10px] bg-secondaryOpacity rounded-full"
  >
    <a target="_blank" href="https://www.linkedin.com/in/sami3ullah/" class="flex items-center justify-center">
      <Icon name="bi:linkedin" class="text-tertiary hover:text-primary w-[23px]" />
    </a>
  </div>
  <!-- Github -->
  <div
    class="w-[35px] h-[35px] md:w-[45px] md:h-[45px] p-[10px] bg-secondaryOpacity rounded-full"
  >
    <a target="_blank" href="https://github.com/sami3ullah" class="flex items-center justify-center">
      <Icon name="bi:github" class="text-tertiary hover:text-primary w-[25px]" />
    </a>
  </div>
  <!-- Stackoverflow -->
  <div
    class="w-[35px] h-[35px] md:w-[45px] md:h-[45px] p-[10px] bg-secondaryOpacity rounded-full"
  >
    <a target="_blank" href="https://stackoverflow.com/users/6900808/sami" class="flex items-center justify-center">
      <Icon name="jam:stackoverflow" class="text-tertiary hover:text-primary w-[25px]" />
    </a>
  </div>
</section>

<script>
  import gsap from 'gsap';

  gsap.from('.header-social-icons', 1.3, {
    x: 50,
    opacity: 0,
    ease: 'power4.inOut',
    delay: 1,
    stagger: {
      amount: 0.5,
    },
  });
</script>
