---
import {Icon} from "astro-icon"
---

<section class="h-[50px] p-3 bg-darkBackground rounded-full flex items-center gap-2">
    <!-- Linkedin -->
    <div class="w-[40px] h-[40px] p-[10px] bg-darkBackground2 rounded-full">
        <Icon name="bi:linkedin" class="text-primary"/>
    </div>
    <!-- Github -->
    <div class="w-[40px] h-[40px] p-[10px] bg-darkBackground2 rounded-full">
        <Icon name="bi:github" class="text-primary"/>
    </div>
    <!-- Email -->
    <div class="w-[40px] h-[40px] p-[10px] bg-darkBackground2 rounded-full">
        <Icon name="ic:round-email" class="text-primary"/>
    </div>
    <!-- Stackoverflow -->
    <div class="w-[40px] h-[40px] p-[10px] bg-darkBackground2 rounded-full">
        <Icon name="jam:stackoverflow" class="text-primary"/>
    </div>
</section>