<section
  class="py-[70px] md:py-[80px] lg:py-[100px] flex flex-col lg:flex-row justify-between border-b border-darkBorder"
>
  <div>
    <h2
      class="text-[30px] md:text-[50px] lg:text-[70px] leading-[70px] lg:leading-[80px] font-bold mb-[30px] text-textLightPrimary"
    >
      About Me
    </h2>
    <div
      class="max-w-none lg:max-w-[310px] text-textDullest text-[0.889rem] leading-[1.5em] mb-[40px]"
    >
      I’m a Pakistani, Software engineer based currently in Lahore, Pakistan. I
      love what I do and have done, so for the last <span id="experience"
        >4</span
      >+ years working on various projects, brands and companies around the
      world. As an engineer, I bring my passion for creative problem-solving,
      design, and effective teamwork to every project. I'm always excited to
      collaborate and bring fresh ideas to the table!
    </div>
  </div>
  <div
    class="ml-0 lg:ml-[80px] max-w-none md:max-w-[80%] lg:max-w-[61%] w-full"
  >
    <h3
      class="text-[22px] md:text-[24px] leading-[30px] md:leading-[34px] mb-[30px] text-textLightPrimary"
    >
      I've developed and worked for:
    </h3>
    <div
      class="text-[30px] md:text-[50px] lg:text-[60px] leading-[40px] md:leading-[60px] lg:leading-[80px] text-textLightPrimary"
    >
      Tkxel <br />
       Laam <br />
       Ali Xeeshan <br />
       Emerald Labs <br />
       Mohsin Naveed Ranjha <br />
       Shamsha Hashwani <br />
    </div>
  </div>
</section>
