<section
  class="py-[70px] md:py-[80px] lg:py-[100px] flex flex-col lg:flex-row justify-between border-b border-textDull"
>
  <div>
    <h2
      class="text-[30px] md:text-[50px] lg:text-[70px] leading-[70px] lg:leading-[80px] font-bold mb-[30px] text-darkBackground"
    >
      Achievements
    </h2>
    <div
      class="max-w-none lg:max-w-[310px] text-darkBackground2 text-[0.889rem] leading-[1.5em] mb-[40px]"
    >
      I've had the incredible journey of starting and nurturing two thriving
      startups from the ground up, leading a fantastic team of 15 talented
      engineers along the way. I'm particularly proud of my role in kickstarting
      the growth of a women's health startup, and I've also had the privilege of
      mentoring a group of junior developers, helping them grow and excel.
      Beyond my professional achievements, I've had the opportunity to make a
      positive impact through contributions to various social projects.
    </div>
  </div>
  <div
    class="ml-0 lg:ml-[80px] max-w-none md:max-w-[80%] lg:max-w-[61%] w-full"
  >
    <h3
      class="text-[22px] md:text-[24px] leading-[30px] md:leading-[34px] mb-[30px] text-darkBackground2"
    >
      A few personal achievements:
    </h3>
    <div
      class="text-[30px] md:text-[50px] lg:text-[60px] leading-[40px] md:leading-[60px] lg:leading-[80px] text-darkBackground"
    >
      2 successful startups <br class="block md:hidden" />
      <div
        class="hidden md:block text-[1rem] leading-[1.5rem] text-[#666] mb-[27px]"
      >
        had the incredible journey of starting and nurturing two thriving
        startups from the ground up
      </div>

       15 engineers team <br class="block md:hidden" />
      <div
        class="hidden md:block text-[1rem] leading-[1.5rem] text-[#666] mb-[27px]"
      >
        had the oppurtunity of leading a fantastic team of 15 talented engineers
        along the way
      </div>

       Women health startup
      <div
        class="hidden md:block text-[1rem] leading-[1.5rem] text-[#666] mb-[27px]"
      >
        particularly proud of my role in kickstarting the growth of a women's
        health startup
      </div>
    </div>
  </div>
</section>
