<section
  class="py-[70px] md:py-[80px] lg:py-[100px] flex flex-col lg:flex-row justify-between border-b border-tertiary"
>
  <div>
    <h2
      class="text-[30px] md:text-[50px] lg:text-[70px] leading-[70px] lg:leading-[80px] font-bold mb-[30px] text-textLight"
    >
      Experience
    </h2>
    <div
      class="max-w-none lg:max-w-[310px] text-textDullest text-[0.889rem] leading-[1.5em] mb-[40px]"
    >
      Web App Development <br />
       Industry Practices <br />
       System Design <br />
       Design Patterns <br />
       Versatile Development <br />
       Teamwork <br />
       Team Leading <br />
       Strong communication <br />
       Visual Design <br />
    </div>
  </div>
  <div
    class="ml-0 lg:ml-[80px] max-w-none md:max-w-[80%] lg:max-w-[61%] w-full"
  >
    <h3
      class="text-[22px] md:text-[24px] leading-[30px] md:leading-[34px] mb-[30px] text-textLight"
    >
      Quick summary of my career:
    </h3>
    <div
      class="text-[30px] md:text-[50px] lg:text-[60px] leading-[40px] md:leading-[60px] lg:leading-[80px] text-textLight"
    >
      <span id="experience">4</span>+ years dev experience <br />
       2 years at startups <br />
       1 year at software house <br />
       1 year at services based<br />
    </div>
  </div>
</section>
