---
import AboutMe from "./AboutMe.astro"
import Skills from "./Skills.astro"
import Experience from "./Experience.astro"
import Achievements from "./Achievements.astro"
---

<section class="bg-primary px-pageXMobile md:px-pageX">
    <AboutMe />
    <Experience />
    <Skills />
    <Achievements />
</section>
