---
import AboutMe from './AboutMe.astro';
import Skills from './Skills.astro';
import Experience from './Experience.astro';
import Achievements from './Achievements.astro';
---

<section
  class="summary z-30 relative bg-black px-pageXMobile md:px-pageX mb-[34rem] md:mb-[43rem] lg:mb-[45rem]"
>
  <AboutMe />
  <Experience />
  <Skills />
  <Achievements />
</section>  

<!-- #EBF5CF -->
