---
import AboutView from './AboutView.astro';
---

<section class="about-me">
  <!-- 1st paragraph -->
  <AboutView>
    <h2
      class="text-textDull w-[70%] font-[700] mb-aboutPageBottom text-[7rem] text-left leading-none"
    >
      I grew up in a
      <span class="text-[4rem] pr-10 text-secondary"> small</span> tech deprived
      town aspired to be a software engineer.
    </h2>
  </AboutView>
  <!-- 2nd paragraph -->
  <AboutView>
    <h2
      class="text-textDull w-[70%] font-[700] mb-aboutPageBottom text-[7rem] text-left leading-none"
    >
      moved to a <span class="text-[9rem] text-secondary">bigger</span> city for
      education.
    </h2>
  </AboutView>
  <!-- 3rd paragraph -->
  <AboutView>
    <h2
      class="text-textDull w-[70%] font-[700] mb-aboutPageBottom text-[7rem] text-left leading-none"
    >
      Among tech-savvy folks, my limited knowledge left me puzzled.
    </h2>
  </AboutView>
</section>
