<section class="about-view h-[100vh] bg-background px-pageX relative">
  <hr class="w-[1px] border-0 h-[350px] bg-hr absolute" />
  <div class="flex items-end h-full">
    <div>
      <div
        class="text-textDull text-[2rem] font-[300] mb-[20px] tracking-[5px] uppercase"
      >
        Story
      </div>
      <slot>
        <slot />
      </slot>
    </div>
  </div>
</section>
