<section
  class="about-view h-[60vh] lg:h-[100vh] bg-background px-pageXMobile lg:px-pageX relative"
>
  <hr class="w-[1px] hidden lg:block border-0 h-[350px] bg-hr absolute" />
  <div class="flex items-center lg:items-end h-full">
    <div>
      <div
        class="text-textDull text-left lg:text-left text-[1rem] md:text-[1.5rem] lg:text-[2rem] font-[300] mb-[20px] tracking-[5px] uppercase"
      >
        Story
      </div>
      <slot>
        <slot />
      </slot>
    </div>
  </div>
</section>
