---
import AboutView from "./AboutView.astro"
---

<section>

    <AboutView>
        <h2
        class="text-textDull w-[70%] font-[700] mb-aboutPageBottom text-[7rem] text-left leading-none"
      >
        I grew up in a
        <span class="text-[4rem] pr-10 text-pink-400"> small </span> tech
        deprived town aspired to be a software engineer.
      </h2>
    </AboutView>
</section>