---
import StarsText from '../StarsText.astro';
import StoryView from './StoryView.astro';
---

<!-- 1st paragraph -->
<section
  id="main__story"
  class="relative w-full min-h-auto md:min-h-[120vh] bg-black px-pageXMobile lg:px-pageX min-w-full"
>
  <div
    class="hidden md:block story-heading text-white absolute top-[30%] translate-y-[-30%] text-[5rem] font-[500] uppercase"
  >
    My <StarsText showStars={true}>Story</StarsText> So Far
  </div>
  <StoryView id="card-one">
    <h2
      class="text-[#F1F1EF] w-full lg:w-[80%] font-[500] text-[1.5rem] leading-[30px] md:text-[3rem] lg:text-[4rem] text-left md:leading-[85px]"
    >
      I was born in a small, tech deprived town, with a dream of becoming a
      <span><StarsText>Software Engineer!</StarsText></span>
    </h2>
  </StoryView>
  <StoryView id="card-two">
    <h2
      class="text-[#F1F1EF] w-full lg:w-[80%] font-[300] text-[1.5rem] leading-[30px] md:text-[3rem] lg:text-[4rem] text-left lg:text-left md:leading-[85px]"
    >
      After school, I wanted to move to a big city for college to fulfil <StarsText
      >
        my dream
      </StarsText>, but my parents thought I was too young to move out 🙁
    </h2>
  </StoryView>
  <StoryView id="card-three">
    <h2
      class="text-[#F1F1EF] w-full lg:w-[80%] font-[00] md:font-[400] text-[1.5rem] leading-[30px] md:text-[3rem] lg:text-[4rem] text-left lg:text-left md:leading-[85px]"
    >
      Despite that, I still moved out, Reaching there I felt lost among tech
      savvy folks. I didn't even know what a <StarsText>PlayStation</StarsText>
       was 🤯
    </h2>
  </StoryView>
  <StoryView id="card-four">
    <h2
      class="text-[#F1F1EF] w-full lg:w-[80%] font-[600] md:font-[300] text-[1.5rem] leading-[30px] md:text-[3rem] text-left lg:text-left md:leading-[85px]"
    >
      College was a whirlwind, with everything going over my head. I was feeling


      <StarsText>lost</StarsText>. But then I taught myself coding and
      everything started making sense bit by bit ✨
    </h2>
  </StoryView>
  <StoryView id="card-five">
    <h2
      class="text-[#F1F1EF] w-full lg:w-[80%] font-[300] md:font-[300] text-[1.5rem] leading-[30px] md:text-[3rem] lg:text-[3.5rem] text-left lg:text-left md:leading-[85px]"
    >
      <StarsText>I failed countless times</StarsText>. But, I never stopped
      trying. My hard work and determination have brought me this far, and I'm
      excited about what lies ahead 😌
    </h2>
  </StoryView>
</section>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);
  import { isMobileViewport } from '../../utils';

  const isMobileView = isMobileViewport();
  // don't animate if it's a mobile device
  if (!isMobileView) {
    var tl = gsap.timeline({
      ease: 'ease-in-out',
      scrollTrigger: {
        trigger: '#main__story',
        start: 'top top',
        end: '100% 50%',
        scrub: 2,
        pin: true,
      },
    });

    tl.to(
      '.text',
      {
        top: '-7%',
      },
      'first'
    )
      .to(
        '#card-one',
        {
          background: '#101010',
          borderRadius: '1.25rem',
          top: '35%',
        },
        'first'
      )
      .to('.story-heading', {
        x: '10%',
        opacity: 0,
      })
      .to(
        '#card-two',
        {
          top: '130%',
          background: '#101010',
          borderRadius: '1.25rem',
        },
        'first'
      )
      .to(
        '#card-two',
        {
          top: '42%',
        },
        'second'
      )
      .to(
        '#card-one',
        {
          width: '70%',
          height: '75vh',
        },
        'second'
      )
      .to(
        '#card-three',
        {
          top: '130%',
          background: '#101010',
          borderRadius: '1.25rem',
        },
        'second'
      )
      .to(
        '#card-three',
        {
          top: '49%',
        },
        'third'
      )
      .to(
        '#card-two',
        {
          width: '75%',
          height: '75vh',
        },
        'third'
      )
      .to(
        '#card-four',
        {
          top: '130%',
          background: '#101010',
          borderRadius: '1.25rem',
        },
        'third'
      )
      .to(
        '#card-four',
        {
          top: '56%',
        },
        'fourth'
      )
      .to(
        '#card-three',
        {
          width: '80%',
          height: '75vh',
        },
        'fourth'
      )
      .to(
        '#card-five',
        {
          top: '130%',
          background: '#101010',
          borderRadius: '1.25rem',
        },
        'fourth'
      )
      .to(
        '#card-five',
        {
          top: '63%',
          width: '90%',
          height: '75vh',
        },
        'fifth'
      )
      .to(
        '#card-four',
        {
          width: '85%',
          height: '75vh',
        },
        'fifth'
      );
  }
</script>
