<section
  class="h-[60vh] lg:h-[100vh] bg-black px-pageXMobile lg:px-pageX relative"
>
  <div class="flex items-center lg:items-end h-full">
    <div>
      <div
        class="text-textDull text-left lg:text-left text-[1rem] md:text-[1.5rem] lg:text-[2rem] font-[300] mb-[20px] tracking-[5px] uppercase"
      >
        Story
      </div>
      <slot>
        <slot />
      </slot>
    </div>
  </div>
</section>
