---
import StoryView from './StoryView.astro';
---

<section class="about-me">
  <!-- 1st paragraph -->
  <StoryView>
    <h2
      class="text-textDull w-full lg:w-[70%] font-[700] mb-aboutPageBottom text-[2.5rem] md:text-[5rem] text-left lg:text-left leading-none"
    >
      I come from a small, tech-deprived town, but I always dreamt big to become
      a software engineer!
    </h2>
  </StoryView>
  <!-- 2nd paragraph -->
  <StoryView>
    <h2
      class="text-textDull w-full lg:w-[70%] font-[700] mb-aboutPageBottom text-[2.5rem] md:text-[5rem] text-left lg:text-left leading-none"
    >
      When I moved to a bustling tech city for education, I felt lost among all
      the tech-savvy folks
    </h2>
  </StoryView>
  <!-- 3rd paragraph -->
  <StoryView>
    <h2
      class="text-textDull w-full lg:w-[70%] font-[700] mb-aboutPageBottom text-[2.5rem] md:text-[5rem] text-left lg:text-left leading-none"
    >
      But I didn't give up. Through hard work and self-teaching, I made my dream
      a reality, becoming a successful software engineer!
    </h2>
  </StoryView>
</section>
