---
interface StoryProps {
  id?: string;
}

const { id } = Astro.props;
---

<div
  id={id}
  class="story_view cards static h-[45vh] border-b border-darkBorder md:border-none translate-x-0 translate-y-0 md:absolute top-1/2 left-1/2 md:-translate-x-1/2 md:-translate-y-1/2 w-full md:h-[70vh] lg:h-[80vh] z-1"
>
  <div class="pt-10 md:p-16 h-full flex items-center bg-darkBackground rounded-2xl">
    <div>
      <div
        class="text-textDullest text-left text-[12px] md:text-[1rem] font-[700] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
      >
        Story
      </div>
      <slot />
    </div>
  </div>
</div>

<style>
  #card-one {
    top: 130%;
  }

  #card-two {
    top: 230%;
  }

  #card-three {
    top: 250%;
  }

  #card-four {
    top: 270%;
  }

  #card-five {
    top: 290%;
  }
</style>
