<section class="flex flex-col">
  <header class="w-full h-[10rem]">
    <!-- logo here -->
    <div class="text-white flex h-full w-[65px]">
      <img src="./logo.svg" alt="logo" />
    </div>
    <!-- menu here -->
  </header>
  <main class="flex flex-col text-textDull h-[calc(100vh - 10rem)]">
    <p
      class="text-[1rem] text-center uppercase tracking-[0.5rem] mb-4 font-medium"
    >
      Muhammad Samiullah
    </p>
    <h1
      class="flex flex-col uppercase text-[8.75rem] font-bold leading-none text-center"
    >
      Making <div class="text-primary">Epic</div>
      <div class="text-primary">Shit</div><div>Since</div><div>2019</div>
    </h1>
  </main>
</section>
