<section class="bg-primary px-pageXMobile md:px-pageX pt-[80px] pb-[60px] md:pb-[90px] lg:pt-[110px] lg:pb-[120px]">
    <h2 class="mb-[50px] text-[30px] md:text-[50px] lg:text-[65px] leading-[1.133em] lg:leading-[1.33em] font-bold">Get In Touch</h2>
    <a class="inline-block uppercase mb-[40px]">msami398@gmail.com</a>
    <div class="mb-[20px] md:mb-[80px]">
        <a href="https://www.linkedin.com/in/sami3ullah/" target="_blank" class="mr-[20px] relative text-[16px] leading-[24px] text-[#666] hover:text-darkBackground2 py-[15px]">LinkedIn</a>
        <a href="https://github.com/sami3ullah" target="_blank" class="mr-[20px] relative text-[16px] leading-[24px] transition-all text-[#666] hover:text-darkBackground2 py-[15px]">Github</a>
        <a href="https://stackoverflow.com/users/6900808/sami" target="_blank" class="mr-[20px] relative text-[16px] leading-[24px] transition-all text-[#666] hover:text-darkBackground2 py-[15px]">Stackoverflow</a>
    </div>
    <div class="text-[16px] leading-[24px] text-[#666]">© Muhammad Samiullah. All Rights Reserved</div>
</section>
