---
import Character from './Character.astro';
import CopyRights from './CopyRights.astro';
---

<section
  class="fixed_footer bg-darkBackground md:flex md:items-center md:gap-[5vw] px-pageXMobile md:px-pageX pt-[60%] pb-[60px] md:pb-[90px] lg:pt-[110px] w-full"
>
  <div>

    <h2
      class="text-textLightPrimary text-center md:text-left mb-[50px] text-[30px] md:text-[50px] lg:text-[4rem] leading-[1.133em] lg:leading-[1.33em] font-bold"
    >
      Bug Me!
    </h2>
    <!-- open email on click -->

    <a href="mailto:msami398@gmail.com" class="interactable interactable-link text-textLightPrimary text-center md:text-left block uppercase mb-[40px]"
      >msami398@gmail.com</a
    >
    <div
      class="interactable interactable-link text-center md:text-left mb-[20px] md:mb-[80px]"
    >
      <a
        href="https://www.linkedin.com/in/samidev/"
        aria-label="Checkout my Linkedin profile"
        target="_blank"
        class="mr-[20px] relative text-[16px] leading-[24px] text-textDullest hover:text-darkBackground2 py-[15px]"
        >LinkedIn</a
      >
      <a
        href="https://github.com/sami3ullah"
        aria-label="Checkout my Github profile"
        target="_blank"
        class="mr-[20px] relative text-[16px] leading-[24px] transition-all text-textDullest hover:text-darkBackground2 py-[15px]"
        >Github</a
      >
      <a
        href="https://stackoverflow.com/users/6900808/sami"
        aria-label="Checkout my Stackoverflow profile"
        target="_blank"
        class="mr-[20px] relative text-[16px] leading-[24px] transition-all text-textDullest hover:text-darkBackground2 py-[15px]"
        >Stackoverflow</a
      >
      <a
        href="/Muhammad_Samiullah_Software_Engineer.pdf"
        aria-label="Get my Resume"
        rel="noopener noreferrer"
        target="_blank"
        class="mr-[20px] relative text-[16px] leading-[24px] transition-all text-textDullest hover:text-darkBackground2 py-[15px]"
        >Resume</a
      >
    </div>
    <!-- Moving Text -->
    <div class="flex justify-center md:block">
      <CopyRights text="©Muhammad. All Rights Reserved" />
    </div>
  </div>
  <div class="flex-1 opacity-[0.35] hidden md:block">
    <Character />
  </div>
</section>

<style>
  .fixed_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -100;
  }
</style>