---
import MovingText from './MovingText.astro';
---

<section
  class="bg-black px-pageXMobile md:px-pageX pt-[80px] pb-[60px] md:pb-[90px] lg:pt-[110px]"
>
  <h2
    class="text-textLight text-center md:text-left mb-[50px] text-[30px] md:text-[50px] lg:text-[65px] leading-[1.133em] lg:leading-[1.33em] font-bold"
  >
    Get In Touch
  </h2>
  <a class="text-textLight text-center md:text-left block uppercase mb-[40px]"
    >msami398@gmail.com</a
  >
  <div class="text-center md:text-left mb-[20px] md:mb-[80px]">
    <a
      href="https://www.linkedin.com/in/sami3ullah/"
      target="_blank"
      class="mr-[20px] relative text-[16px] leading-[24px] text-textDullest hover:text-darkBackground2 py-[15px]"
      >LinkedIn</a
    >
    <a
      href="https://github.com/sami3ullah"
      target="_blank"
      class="mr-[20px] relative text-[16px] leading-[24px] transition-all text-textDullest hover:text-darkBackground2 py-[15px]"
      >Github</a
    >
    <a
      href="https://stackoverflow.com/users/6900808/sami"
      target="_blank"
      class="mr-[20px] relative text-[16px] leading-[24px] transition-all text-textDullest hover:text-darkBackground2 py-[15px]"
      >Stackoverflow</a
    >
  </div>
  <!-- Moving Text -->
  <div class="flex justify-center md:block">
    <MovingText text="©Muhammad. All Rights Reserved" />
  </div>
</section>
