<section class="min-h-screen bg-darkBackground px-pageXMobile md:px-pageX">
  <!-- testimonials container -->
  <div class="flex justify-between testimonials">
    <!-- text -->
    <div class="max-w-[70%]">
      <!-- testimonial 1 -->
      <div
        class="testimonials__text h-[60vh] py-[140px] text-textLightPrimary text-[3rem] border-b border-darkBorder flex gap-4"
        data-scroll="testimonial1"
      >
        <strong class="text-[8rem] text-primary leading-none">“</strong>
        <div class="flex flex-col">
          <div class="mb-[3rem] font-bold">
            I worked closely with Sami during the early stages of LAAM, and his
            impact was nothing short of transformative.
          </div>
          <div class="text-textLightPrimary text-[1rem] mb-[0.7rem] uppercase">
            Arif Iqbal
          </div>
          <div class="text-textDullest text-[1rem]">
            Chief Executive Officer at LAAM
          </div>
        </div>
      </div>

      <!-- testimonial 2 -->
      <div
        class="testimonials__text h-[60vh] py-[140px] text-textLightPrimary text-[3rem] border-b border-darkBorder flex gap-4"
        data-scroll="testimonial1"
      >
        <strong class="text-[8rem] text-primary leading-none">“</strong>
        <div class="flex flex-col">
          <div class="mb-[3rem] font-bold">
            Sami is results-oriented, and a true team player who always puts his
            best effort needed to deliver projects.
          </div>
          <div class="text-textLightPrimary text-[1rem] mb-[0.7rem] uppercase">
            Shannon Madden
          </div>
          <div class="text-textDullest text-[1rem]">
            Senior Project Manager at REI Blackbook
          </div>
        </div>
      </div>

      <!-- testimonial 3 -->
      <div
        class="testimonials__text h-[60vh] py-[140px] text-textLightPrimary text-[3rem] border-b border-darkBorder flex gap-4"
        data-scroll="testimonial2"
      >
        <strong class="text-[8rem] text-primary leading-none">“</strong>
        <div class="flex flex-col">
          <div class="mb-[3rem] font-bold">
            Sami is a straightforward and honest guy who also has critical
            thinking skills. Most importantly he is friendly to work with.
          </div>
          <div class="text-textLightPrimary text-[1rem] mb-[0.7rem] uppercase">
            Mian Faizan Mahmood
          </div>
          <div class="text-textDullest text-[1rem]">
            Chief Executive Officer at Emerald Labs
          </div>
        </div>
      </div>

      <!-- testimonial 4 -->
      <div
        class="testimonials__text h-[60vh] py-[140px] text-textLightPrimary text-[3rem] border-b border-darkBorder flex gap-4"
        data-scroll="testimonial3"
      >
        <strong class="text-[8rem] text-primary leading-none">“</strong>
        <div class="flex flex-col">
          <div class="mb-[3rem] font-bold">
            Sami's excellent communication skills and collaborative nature
            greatly enriched our team's dynamics.
          </div>
          <div class="text-textLightPrimary text-[1rem] mb-[0.7rem] uppercase">
            Rahma Ahmed
          </div>
          <div class="text-textDullest text-[1rem]">
            Senior Marketing Manager at FOR
          </div>
        </div>
      </div>
    </div>
    <!-- images -->
    <div class="py-[140px] pr-40 testimonials__image-pin">
      <div class="flex items-center gap-6">
        <span class="testimonials__indicator" data-indicator="indicator1"
        ></span>
        <img
          class="testimonials__image rounded-full w-[100px] mb-6 grayscale"
          alt="testimonial image 1"
          data-image="image1"
          src="https://media.licdn.com/dms/image/D4D03AQHsjcSumRUUPQ/profile-displayphoto-shrink_800_800/0/1697892677143?e=1704326400&v=beta&t=f9-1GpZNvTGokaDmBbEbDGdmYCxWhhW2um4NRCqVI5w"
        />
      </div>
      <div class="flex items-center gap-6">
        <span class="testimonials__indicator" data-indicator="indicator1"
        ></span>
        <img
          class="testimonials__image rounded-full w-[100px] mb-6 grayscale"
          alt="testimonial image 1"
          data-image="image1"
          src="https://media.licdn.com/dms/image/C4D03AQF3LGs_Vs0-rA/profile-displayphoto-shrink_400_400/0/1606622051236?e=1704931200&v=beta&t=KjNRjJux_8O_nYqh2Ds2n6c6TNFJeTq0LcxOMflDhz4"
        />
      </div>
      <div class="flex items-center gap-6">
        <span
          class="testimonials__indicator opacity-0"
          data-indicator="indicator2"></span>
        <img
          class="testimonials__image rounded-full w-[100px] mb-6 grayscale opacity-20"
          alt="testimonial image 2"
          data-image="image2"
          src="https://media.licdn.com/dms/image/D4D03AQFVUkcm1dHdCw/profile-displayphoto-shrink_400_400/0/1697112257413?e=1704326400&v=beta&t=qZoUd5qwy53kgOVIbg54cHf3m2PrXdfZ7ia0JBOhA8U"
        />
      </div>
      <div class="flex items-center gap-6">
        <span
          class="testimonials__indicator opacity-0"
          data-indicator="indicator3"></span>
        <img
          class="testimonials__image rounded-full w-[100px] grayscale opacity-20"
          alt="testimonial image 3"
          data-image="image3"
          src="https://media.licdn.com/dms/image/D4D03AQGhXNDZYhkIFg/profile-displayphoto-shrink_400_400/0/1699134266653?e=1704326400&v=beta&t=-aUm9Mqs_cYthoK2_EgnivoJpi8_N0mK-qkp0rrRHdY"
        />
      </div>
    </div>
  </div>
</section>

<style>
  .testimonials__indicator {
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 10.5px;
    border-right-color: #d5ff3f;
    border-right-style: solid;
    border-right-width: 10.5px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-style: solid;
    border-top-width: 10.5px;
  }
</style>

<script>
  import gsap from 'gsap';
  import ScrollTrigger from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);

  const testimonials = document.querySelectorAll('.testimonials__text');
  const images = document.querySelectorAll('.testimonials__image');
  const indicators = document.querySelectorAll('.testimonials__indicator');
  let currentTestimonial = 0; // Initialize with the first testimonial

  testimonials.forEach((testimonial, index) => {
    const image = images[index];
    const indicator = indicators[index];

    // Create ScrollTriggers for scrolling down
    ScrollTrigger.create({
      trigger: testimonial,
      start: 'top center',
      end: 'bottom center',
      onEnter: () => {
        if (currentTestimonial !== index) {
          currentTestimonial = index;
          gsap.to(images, { opacity: 0.2 });
          gsap.to(indicators, { opacity: 0 });
          gsap.to(image, { opacity: 1 });
          gsap.to(indicator, { opacity: 1 });
        }
      },
      // markers: true,
    });

    // Create ScrollTriggers for scrolling up
    ScrollTrigger.create({
      trigger: testimonial,
      start: 'top center',
      end: 'bottom center',
      onEnterBack: () => {
        if (currentTestimonial !== index) {
          currentTestimonial = index;
          gsap.to(images, { opacity: 0.2 });
          gsap.to(indicators, { opacity: 0 });
          gsap.to(image, { opacity: 1 });
          gsap.to(indicator, { opacity: 1 });
        }
      },
      // markers: true,
    });
  });

  gsap.from('.testimonials', {
    scrollTrigger: {
      trigger: '.testimonials__image-pin',
      start: 'top 20%',
      end: '60% 20%',
      pin: true,
      pinSpacing: false,
      // markers: true,
    },
  });
</script>
