<div
  class="brands-wrapper bg-black px-pageXMobile md:px-pageX text-white overflow-x-hidden relative"
>
  <div class="container scrollx" id="why-work-with-me">
    <svg viewBox="0 0 900 10" class="absolute top-[5rem] left-[0px] w-[calc(100vw-40px)] md:top-[12rem] md:left-[10vw] md:w-[50%]" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M9.89998 6C9.43671 8.28224 7.41896 10 5 10C2.23858 10 0 7.76142 0 5C0 2.23858 2.23858 0 5 0C7.41896 0 9.43671 1.71776 9.89998 4H445.1C445.563 1.71776 447.581 0 450 0C452.419 0 454.437 1.71776 454.9 4H890.1C890.563 1.71776 892.581 0 895 0C897.761 0 900 2.23858 900 5C900 7.76142 897.761 10 895 10C892.581 10 890.563 8.28224 890.1 6H454.9C454.437 8.28224 452.419 10 450 10C447.581 10 445.563 8.28224 445.1 6H9.89998Z"
        fill="#222"></path>
      <mask
        id="mask0_0_1"
        style="mask-type:alpha"
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="900"
        height="10"
      >
        <path
          d="M9.89998 6C9.43671 8.28224 7.41896 10 5 10C2.23858 10 0 7.76142 0 5C0 2.23858 2.23858 0 5 0C7.41896 0 9.43671 1.71776 9.89998 4H445.1C445.563 1.71776 447.581 0 450 0C452.419 0 454.437 1.71776 454.9 4H890.1C890.563 1.71776 892.581 0 895 0C897.761 0 900 2.23858 900 5C900 7.76142 897.761 10 895 10C892.581 10 890.563 8.28224 890.1 6H454.9C454.437 8.28224 452.419 10 450 10C447.581 10 445.563 8.28224 445.1 6H9.89998Z"
          fill="#222"></path>
      </mask>
      <g mask="url(#mask0_0_1)">
        <rect class="mask-animate w-0" y="-49" height="99" fill="#b9bcad"></rect>
      </g>
    </svg>
    <section class="sec1 brands-section pin h-screen min-w-[50%] md:min-w-[50%] py-[10rem] pr-[3rem] md:py-[20rem] md:pr-[5rem]">
      <span class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[4rem]">01</span>
      <h2
        class="text-textLightPrimary font-bold text-left text-[1.8rem] md:text-[3rem] lg:text-[4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
      >
        Diverse <br> Experience
      </h2>

      <div class="col">
        <p
          class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[0.889rem] leading-[30px] md:text-[1.5rem] text-left md:leading-[40px]"
        >
          I have worked with startups, software houses, and service-based
          companies, providing me with a well-rounded skillset.
        </p>
      </div>
    </section>
    <section class="sec2 brands-section pin h-screen min-w-[50%] md:min-w-[50%] py-[10rem] px-[3rem] md:py-[20rem] md:px-[5rem]">
      <span class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[5rem]">02</span>
      <h2
        class="text-textLightPrimary anim text-left font-bold text-[1.8rem] md:text-[3rem] lg:text-[4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
      >
        Framework <br> Independent
      </h2>

      <div class="col anim">
        <p
          class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[0.889rem] leading-[30px] md:text-[1.5rem] text-left md:leading-[40px]"
        >
          I am a Software Engineer, which means I don't limit
          myself to specific language or framework. Instead, I focus on what
          suits the project best.
        </p>
      </div>
    </section>
    <section class="sec3 brands-section pin h-screen min-w-[50%] md:min-w-[50%] py-[10rem] px-[3rem] md:py-[20rem] md:px-[5rem]">
      <span class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[5rem]">03</span>
      <h2
        class="text-textLightPrimary anim text-left font-bold text-[1.8rem] md:text-[3rem] lg:text-[4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
      >
        Future <br> Ready
      </h2>

      <div class="col anim">
        <p
          class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[0.889rem] leading-[30px] md:text-[1.5rem] text-left md:leading-[40px]"
        >
          I stay updated with the latest tech trends, ensuring you and your
          projects benefit from cutting edge solutions.
        </p>
      </div>
    </section>
    <section class="sec4 brands-section pin h-screen min-w-[50%] md:min-w-[50%] py-[10rem] px-[3rem] md:py-[20rem] md:px-[5rem]">
      <span class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[5rem]">04</span>
      <h2
        class="text-textLightPrimary anim text-left font-bold text-[1.8rem] md:text-[3rem] lg:text-[4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
      >
        Result <br> Driven
      </h2>

      <div class="col anim">
        <p
          class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[0.889rem] leading-[30px] md:text-[1.5rem] text-left md:leading-[40px]"
        >
          I am always committed to delivering high quality results, going the
          extra mile for your success.
        </p>
      </div>
    </section>
    <section class="sec5 brands-section pin h-screen min-w-[50%] md:min-w-[50%] py-[10rem] pl-[3rem] md:py-[20rem] md:pl-[5rem]">
      <span class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[5rem]">05</span>
      <h2
        class="text-textLightPrimary anim text-left font-bold text-[1.8rem] md:text-[3rem] lg:text-[4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
      >
        Team <br> Player
      </h2>

      <div class="col anim">
        <p
          class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[0.889rem] leading-[30px] md:text-[1.5rem] text-left md:leading-[40px]"
        >
          I'm a team player and thrive on collaboration.Your input matters, and
          together, we can make your projects flourish.
        </p>
      </div>
    </section>
  </div>
</div>

<style>

  .container {
    display: flex;
    width: 250vw;
  }

  .container section h1 {
    font-size: 3rem;
    margin: 0;
  }

  .container section p {
    width: 100%;
  }

</style>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  import { isMobileViewport } from '../../utils';
  const isMobile = isMobileViewport();
  gsap.registerPlugin(ScrollTrigger);

  const sections = gsap.utils.toArray('.container .brands-section');
  const mask = document.querySelector('.mask-animate');

  gsap.to(sections, {
    xPercent: isMobile ? -105 * (sections.length - 1) : -80 * (sections.length - 1),
    ease: 'none',
    scrollTrigger: {
      trigger: '.container',
      pin: true,
      scrub: 1,
      end: '+=3000',
    },
  });

  //Progress bar animation
  gsap.to(mask, {
    width: '100%',
    scrollTrigger: {
      trigger: '.brands-wrapper',
      start: 'top left',
      scrub: 1,
    },
  });

</script>
