---
import StarsText from '../StarsText.astro';
---

<div class="wrapper bg-black text-white">
  <div class="container scrollx">
    <svg viewBox="0 0 900 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M9.89998 6C9.43671 8.28224 7.41896 10 5 10C2.23858 10 0 7.76142 0 5C0 2.23858 2.23858 0 5 0C7.41896 0 9.43671 1.71776 9.89998 4H445.1C445.563 1.71776 447.581 0 450 0C452.419 0 454.437 1.71776 454.9 4H890.1C890.563 1.71776 892.581 0 895 0C897.761 0 900 2.23858 900 5C900 7.76142 897.761 10 895 10C892.581 10 890.563 8.28224 890.1 6H454.9C454.437 8.28224 452.419 10 450 10C447.581 10 445.563 8.28224 445.1 6H9.89998Z"
        fill="#222"></path>
      <mask
        id="mask0_0_1"
        style="mask-type:alpha"
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="900"
        height="10"
      >
        <path
          d="M9.89998 6C9.43671 8.28224 7.41896 10 5 10C2.23858 10 0 7.76142 0 5C0 2.23858 2.23858 0 5 0C7.41896 0 9.43671 1.71776 9.89998 4H445.1C445.563 1.71776 447.581 0 450 0C452.419 0 454.437 1.71776 454.9 4H890.1C890.563 1.71776 892.581 0 895 0C897.761 0 900 2.23858 900 5C900 7.76142 897.761 10 895 10C892.581 10 890.563 8.28224 890.1 6H454.9C454.437 8.28224 452.419 10 450 10C447.581 10 445.563 8.28224 445.1 6H9.89998Z"
          fill="#222"></path>
      </mask>
      <g mask="url(#mask0_0_1)">
        <rect class="mask" y="-49" height="99" fill="white"></rect>
      </g>
    </svg>
    <section class="sec1 pin">
      <!-- <span class="anim text-[#E0CCBB] text-[5rem] font-bold">01</span> -->
      <h2
        class="text-white text-left text-[12px] md:text-[2rem] lg:text-[5rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
      >
        Diverse Experience
      </h2>

      <div class="col">
        <p
          class="text-textDullest w-full lg:w-[80%] font-[300] text-[1.5rem] leading-[30px] md:text-[2rem] lg:text-[1.5rem] text-left md:leading-[80px]"
        >
          I have worked with startups, software houses, and service-based
          companies, providing me with a well-rounded skillset.
        </p>
      </div>
    </section>
    <section class="sec2 pin">
      <!-- <span class="anim">02</span> -->
      <h2
        class="text-white anim text-left text-[12px] md:text-[2rem] lg:text-[5rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
      >
        Framework Independent
      </h2>

      <div class="col anim">
        <p
          class="text-textDullest w-full lg:w-[80%] font-[300] text-[1.5rem] leading-[30px] md:text-[2rem] lg:text-[1.5rem] text-left md:leading-[80px]"
        >
          I consider myself a Software Engineer, which means I don't limit
          myself to specific languages or frameworks. Instead, I focus on what
          suits the project best.
        </p>
      </div>
    </section>
    <section class="sec3 pin">
      <!-- <span class="anim">03</span> -->
      <h2
        class="text-white anim text-left text-[12px] md:text-[2rem] lg:text-[5rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
      >
        Future Ready
      </h2>

      <div class="col anim">
        <p
          class="text-textDullest w-full lg:w-[80%] font-[300] text-[1.5rem] leading-[30px] md:text-[2rem] lg:text-[1.5rem] text-left md:leading-[80px]"
        >
          I stay updated with the latest tech trends, ensuring you and your
          projects benefit from cutting edge solutions.
        </p>
      </div>
    </section>
    <section class="sec4 pin">
      <!-- <span class="anim">04</span> -->
      <h2
        class="text-white anim text-left text-[12px] md:text-[2rem] lg:text-[5rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
      >
        Result Driven
      </h2>

      <div class="col anim">
        <p
          class="text-textDullest w-full lg:w-[80%] font-[300] text-[1.5rem] leading-[30px] md:text-[2rem] lg:text-[1.5rem] text-left md:leading-[80px]"
        >
          I am always committed to delivering high quality results, going the
          extra mile for your success.
        </p>
      </div>
    </section>
    <section class="sec5 pin">
      <!-- <span class="anim">03</span> -->
      <h2
        class="text-white anim text-left text-[12px] md:text-[2rem] lg:text-[5rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
      >
        Team Player
      </h2>

      <div class="col anim">
        <p
          class="text-textDullest w-full lg:w-[80%] font-[300] text-[1.5rem] leading-[30px] md:text-[2rem] lg:text-[1.5rem] text-left md:leading-[80px]"
        >
          I'm a team player and thrive on collaboration.Your input matters, and
          together, we can make your projects flourish.
        </p>
      </div>
    </section>
  </div>
</div>

<style>
  .wrapper {
    overflow-x: hidden;
    position: relative;
  }

  svg {
    position: absolute;
    top: 12em;
    left: 10vw;
    width: 50vw;
  }

  svg .mask {
    width: 0;
  }

  .container {
    display: flex;
    width: 500vw;
  }

  .container .col {
    display: flex;
    gap: 3em;
  }

  .container section {
    width: 100vw;
    padding: 20vw 10vw;
  }

  .container section h1 {
    font-size: 3rem;
    margin: 0;
  }

  .container section p {
    width: 90vw;
  }

  .container section ul {
    list-style-type: none;
    display: flex;
    gap: 3em;
    width: 100%;
    height: 300px;
    padding: 0;
  }

  .container section ul li {
    background: white;
    border-radius: 0.3em;
    flex-grow: 1;
  }

  section {
    height: 100vh;
  }
</style>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  gsap.registerPlugin(ScrollTrigger);

  const container = document.querySelector('.container');
  const sections = gsap.utils.toArray('.container section');
  const texts = gsap.utils.toArray('.anim');
  const mask = document.querySelector('.mask');

  let scrollTween = gsap.to(sections, {
    xPercent: -100 * (sections.length - 1),
    ease: 'none',
    scrollTrigger: {
      trigger: '.container',
      pin: true,
      scrub: 1,
      end: '+=3000',
      //snap: 1 / (sections.length - 1),
      markers: true,
    },
  });

  //Progress bar animation

  gsap.to(mask, {
    width: '100%',
    scrollTrigger: {
      trigger: '.wrapper',
      start: 'top left',
      scrub: 1,
    },
  });

  // whizz around the sections
  sections.forEach((section) => {
    // grab the scoped text
    let text = section.querySelectorAll('.anim');

    // bump out if there's no items to animate
    if (text.length === 0) return;

    // do a little stagger
    gsap.from(text, {
      y: -130,
      opacity: 0,
      duration: 2,
      ease: 'elastic',
      stagger: 0.1,
      scrollTrigger: {
        trigger: section,
        containerAnimation: scrollTween,
        start: 'left center',
        markers: true,
      },
    });
  });
</script>
