---
import Flower from './Flower.astro';
---

<div
  class="brands-wrapper bg-black px-pageXMobile md:px-pageX text-white overflow-x-hidden relative"
>
  <div class="container gap-4 md:gap-8 py-[25vh] scrollx" id="why-work-with-me">
      <div
        class="bg-primary brands-section pin px-10 min-w-[33%] md:min-w-[50%] lg:min-w-[44%] xl:min-w-[36%] 2xl:min-w-[30%] max-h-[100%] rounded-3xl relative overflow-hidden"
      >
        <div
          class="text-[3rem] md:text-[4rem] text-background -rotate-90 font-[500] z-[1] absolute top-1/2 left-[85%] lg:left-3/4 -translate-x-3/4 -translate-y-1/2 w-full"
        >
          Why Work <br /> With Me?
        </div>
        <div
          class="absolute top-0 -left-[62%] md:-left-[50%] lg:-left-[42%] xl:-left-[35%] 2xl:-left-[36%] trasnlate-x-1/2 opacity-40"
        >
          <Flower />
        </div>
      </div>
      <div
        class="bg-darkBackground brands-section pin min-w-[33%] md:min-w-[50%] lg:min-w-[44%] xl:min-w-[36%] 2xl:min-w-[30%] max-h-[100%] p-10 rounded-3xl"
      >
        <span
          class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[4rem]"
          >01</span
        >
        <h2
          class="text-textLightPrimary font-bold text-left text-[1.8rem] md:text-[2rem] z-[1] lg:text-[2.4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
        >
          Diverse <br /> Experience
        </h2>

        <div class="col z-1 relative">
          <p
            class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[1.2rem] leading-[30px] md:text-[1.4rem] text-left md:leading-[40px]"
          >
            I've cultivated a versatile skillset through my experiences with
            startups, software houses, and service-based companies, ensuring I
            am well-equipped to tackle any challenge.
          </p>
        </div>
      </div>
      <div
        class="bg-darkBackground brands-section pin min-w-[33%] md:min-w-[50%] lg:min-w-[44%] xl:min-w-[36%] 2xl:min-w-[30%] max-h-[100%] p-10 rounded-3xl"
      >
        <span
          class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[4rem]"
          >02</span
        >
        <h2
          class="text-textLightPrimary anim text-left font-bold text-[1.8rem] md:text-[2rem] z-[1] lg:text-[2.4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
        >
          Framework <br /> Independent
        </h2>

        <div class="col anim z-1 relative">
          <p
            class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[1.2rem] leading-[30px] md:text-[1.4rem] text-left md:leading-[40px]"
          >
            As an Engineer, my expertise extends beyond specific languages or
            frameworks. Instead, I'm adept at selecting the most suitable
            technology as per project requirement.
          </p>
        </div>
      </div>
      <div
        class="bg-darkBackground brands-section pin min-w-[33%] md:min-w-[50%] lg:min-w-[44%] xl:min-w-[36%] 2xl:min-w-[30%] max-h-[100%] p-10 rounded-3xl"
      >
        <span
          class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[4rem]"
          >03</span
        >
        <h2
          class="text-textLightPrimary anim text-left font-bold text-[1.8rem] md:text-[2rem] z-[1] lg:text-[2.4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
        >
          Future <br /> Ready
        </h2>

        <div class="col anim z-1 relative">
          <p
            class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[1.2rem] leading-[30px] md:text-[1.4rem] text-left md:leading-[40px]"
          >
            Keeping abreast of the latest technological trends is paramount to
            my success. This dedication ensures that I deliver cutting-edge
            solutions that propel your projects forward.
          </p>
        </div>
      </div>
      <div
        class="bg-darkBackground brands-section pin min-w-[33%] md:min-w-[50%] lg:min-w-[44%] xl:min-w-[36%] 2xl:min-w-[30%] max-h-[100%] p-10 rounded-3xl"
      >
        <span
          class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[4rem]"
          >04</span
        >
        <h2
          class="text-textLightPrimary anim text-left font-bold text-[1.8rem] md:text-[2rem] z-[1] lg:text-[2.4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
        >
          Result <br /> Driven
        </h2>

        <div class="col anim z-1 relative">
          <p
            class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[1.2rem] leading-[30px] md:text-[1.4rem] text-left md:leading-[40px]"
          >
            Delivering exceptional results is my unwavering goal. I'm committed
            to going above and beyond expectations to ensure your success. Your
            satisfaction is my driving force.
          </p>
        </div>
      </div>
      <div
        class="bg-darkBackground brands-section pin min-w-[33%] md:min-w-[50%] lg:min-w-[44%] xl:min-w-[36%] 2xl:min-w-[30%] max-h-[100%] p-10 rounded-3xl"
      >
        <span
          class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[4rem]"
          >05</span
        >
        <h2
          class="text-textLightPrimary anim text-left font-bold text-[1.8rem] md:text-[2rem] z-[1] lg:text-[2.4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
        >
          Team <br /> Player
        </h2>

        <div class="col anim z-1 relative">
          <p
            class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[1.2rem] leading-[30px] md:text-[1.4rem] text-left md:leading-[40px]"
          >
            I thrive in collaborative environments and value the input of
            others. Your input is highly valued, and together, we can transform
            your projects into resounding achievements.
          </p>
        </div>
      </div>
  </div>
</div>

<style>
  .container {
    display: flex;
    width: 250vw;
  }
  .container section p {
    width: 100%;
  }
</style>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  import { isMobileViewport, isTabletViewport } from '../../utils';
  const isMobile = isMobileViewport();
  gsap.registerPlugin(ScrollTrigger);
  const sections = gsap.utils.toArray('.container .brands-section');

  gsap.to(sections, {
    xPercent: isMobile
      ? -105 * (sections.length - 1)
      : -90 * (sections.length - 1),
    ease: 'none',
    scrollTrigger: {
      trigger: '.container',
      pin: true,
      scrub: 1,
      end: '+=3000',
    },
  });
</script>
