---
import Flower from "./Flower.astro";

---

<div
  class="brands-wrapper bg-black px-pageXMobile md:px-pageX text-white overflow-x-hidden relative"
>
  <!-- <div class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    <svg width="608" height="599" viewBox="0 0 608 599" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M607 2C496.372 23.1664 301.621 75.3024 407.646 114.516C456.65 122.314 458.877 122.314 507.88 123.428C546.86 125.656 589.181 131.226 551.315 170.217C547.974 176.901 501.198 208.093 498.971 210.321C376.462 282.733 -82.3855 371.186 15.6209 413.073C56.4569 431.64 179.336 434.239 323.005 453.178C377.576 460.371 366.439 508.878 292.934 521.133C190.473 545.641 23.4169 580.176 15.6209 598" stroke="#D5FF3F" stroke-width="3"/>
    </svg>
  </div> -->
  <div class="container scrollx" id="why-work-with-me">
    <section class="sec0 brands-section pin h-screen min-w-[50%] md:min-w-[28%] py-[15rem] pr-[3rem] md:pr-[0.5rem]">
      <div class="bg-primary p-10 rounded-3xl relative min-h-[50vh] overflow-hidden">
        <div class="text-[4rem] text-background -rotate-90 font-[500] z-[1] absolute top-1/2 left-3/4 -translate-x-3/4 -translate-y-1/2 w-full">Why Work <br> With Me?</div>
        <div class="absolute top-0 -left-1/2 trasnlate-x-1/2 opacity-40"><Flower/></div>
      </div>
    </section>
    <section class="sec1 brands-section pin h-screen min-w-[50%] md:min-w-[28%] py-[15rem] px-[3rem] md:px-[0.5rem]">
      <div class="bg-darkBackground p-10 rounded-3xl relative min-h-[50vh]">

        <span class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[4rem]">01</span>
        <h2
          class="text-textLightPrimary font-bold text-left text-[1.8rem] md:text-[3rem] z-[1] lg:text-[2.4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
        >
          Diverse <br> Experience
        </h2>
  
        <div class="col z-1 relative">
          <p
            class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[0.889rem] leading-[30px] md:text-[1.4rem] text-left md:leading-[40px]"
          >
            I have worked with startups, software houses, and service-based
            companies, providing me with a well-rounded skillset.
          </p>
        </div>
      </div>
    </section>
    <section class="sec2 brands-section pin h-screen min-w-[50%] md:min-w-[28%] py-[15rem] px-[3rem] md:px-[0.5rem]">
      <div class="bg-darkBackground p-10 rounded-3xl relative min-h-[50vh]">

        <span class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[4rem]">02</span>
        <h2
          class="text-textLightPrimary anim text-left font-bold text-[1.8rem] md:text-[ z-13rem[1] lg:text-[2.4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
        >
          Framework <br> Independent
        </h2>
  
        <div class="col anim z-1 relative">
          <p
            class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[0.889rem] leading-[30px] md:text-[1.4rem] text-left md:leading-[40px]"
          >
            I am an Engineer, so I don't limit
            myself to specific language or framework. Instead, I focus on what
            suits the project best.
          </p>
      </div>
      </div>
    </section>
    <section class="sec3 brands-section pin h-screen min-w-[50%] md:min-w-[28%] py-[15rem] px-[3rem] md:px-[0.5rem]">
      <div class="bg-darkBackground p-10 rounded-3xl relative min-h-[50vh]">

        <span class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[4rem]">03</span>
        <h2
          class="text-textLightPrimary anim text-left font-bold text-[1.8rem] md:text-[ z-13rem[1] lg:text-[2.4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
        >
          Future <br> Ready
        </h2>
  
        <div class="col anim z-1 relative">
          <p
            class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[0.889rem] leading-[30px] md:text-[1.4rem] text-left md:leading-[40px]"
          >
            I stay updated with the latest tech trends, ensuring you and your
            projects benefit from cutting edge solutions.
          </p>
        </div>
      </div>
    </section>
    <section class="sec4 brands-section pin h-screen min-w-[50%] md:min-w-[28%] py-[15rem] px-[3rem] md:px-[0.5rem]">
      <div class="bg-darkBackground p-10 rounded-3xl relative min-h-[50vh]">

        <span class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[4rem]">04</span>
        <h2
          class="text-textLightPrimary anim text-left font-bold text-[1.8rem] md:text-[ z-13rem[1] lg:text-[2.4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
        >
          Result <br> Driven
        </h2>
  
        <div class="col anim z-1 relative">
          <p
            class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[0.889rem] leading-[30px] md:text-[1.4rem] text-left md:leading-[40px]"
          >
            I am always committed to delivering high quality results, going the
            extra mile for your success.
          </p>
        </div>
      </div>
    </section>
    <section class="sec5 brands-section pin h-screen min-w-[50%] md:min-w-[28%] py-[15rem] pl-[3rem] md:px-[0.5rem]">
      <div class="bg-darkBackground p-10 rounded-3xl relative min-h-[50vh]">

        <span class="anim text-textDullest text-[1.8rem] md:text-[3rem] lg:text-[4rem]">05</span>
        <h2
          class="text-textLightPrimary anim text-left font-bold text-[1.8rem] md:text-[ z-13rem[1] lg:text-[2.4rem] mb-[20px] tracking-[3px] md:tracking-[5px] uppercase"
        >
          Team <br> Player
        </h2>
  
        <div class="col anim z-1 relative">
          <p
            class="text-textDullest w-full max-w-[calc(100vw-40px)] font-[300] text-[0.889rem] leading-[30px] md:text-[1.4rem] text-left md:leading-[40px]"
          >
            I'm a team player and thrive on collaboration.Your input matters, and
            together, we can make your projects flourish.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<style>

  .container {
    display: flex;
    width: 250vw;
  }
  .container section p {
    width: 100%;
  }

</style>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  import { isMobileViewport } from '../../utils';
  const isMobile = isMobileViewport();
  gsap.registerPlugin(ScrollTrigger);

  const sections = gsap.utils.toArray('.container .brands-section');
  const mask = document.querySelector('.mask-animate');

  gsap.to(sections, {
    xPercent: isMobile ? -105 * (sections.length - 1) : -80 * (sections.length - 1),
    ease: 'none',
    scrollTrigger: {
      trigger: '.container',
      pin: true,
      scrub: 1,
      end: '+=3000',
    },
  });

  gsap.to(".flower", {
    width: 290,
    height: 291,
    ease: 'power1.out',
    scrollTrigger: {
      trigger: '.brands-wrapper',
      start: 'top top',
      end: '10% 20%',
      scrub: 1,
    },
  })

</script>
