---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- <link href="https://fonts.cdnfonts.com/css/fivo-sans-modern?styles=25051,25042,25046" rel="stylesheet"> -->
    <meta name="generator" content="{Astro.generator}" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  *,
  body,
  html {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    scrollbar-width: none;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: #000;
  }
  body::-webkit-scrollbar {
    display: none;
  }

  .interactable {
    cursor: none;
  }
</style>

<script>
  import Lenis from '@studio-freight/lenis';

  // ======== lenis scroll initialization =======
  const lenis = new Lenis();

  const raf = (time: number) => {
    lenis.raf(time);
    requestAnimationFrame(raf);
  };
  requestAnimationFrame(raf);
</script>
